
{% import _self as macro %}
{% macro answer_field_prototype(answer) %}
    <div class="row">
        <div class="col-md-10">{{ form_widget(answer.answerText) }}</div>
        <div class="col-md-2">{{ form_widget(answer.isCorrect) }}</div>
    </div>
{% endmacro %}

{{ form_start(form) }}
    {{ form_row(form.questionText) }}
    {{ form_row(form.category) }}
    <h5><b>Answers</b></h5>

    <ul class="answers" data-prototype="{{ macro.answer_field_prototype(form.answers.vars.prototype)|e }}">
        {% for key, answer in form.answers %}
                <li>
                    <h5>Answer {{ key + 1 }}</h5>
                    <div class="row">
                        <div class="col-md-10">{{ form_widget(answer.answerText) }}</div>
                        <div class="col-md-2">{{ form_widget(answer.isCorrect) }}</div>
                    </div>
                </li>
        {% endfor %}
    </ul>

    <button style="display: inline-block" class="btn btn-sm btn-primary">
        {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}

<script src="{{ asset('build/js/questionForm.js') }}"></script>
