{% extends 'base.html.twig' %}

{% block title %}All Questions{% endblock %}

{% block body %}
    <h1>All questions</h1>
    <hr>

    <a class="btn btn-lg btn-info" href="{{ path('create_new_question') }}">Create new</a>

    <br><br>

    <table class="table" style="width: 100%">
        <thead class="thead-light table-secondary">
            <tr>
                <th style="width: 50%" scope="col" >Question</th>
                <th style="width: 20%" scope="col" >Category</th>
                <th style="width: 15%" scope="col" >Owner</th>
                <th style="width: 15%" scope="col" >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td style="width: 50%" class="main-col">{{ question.questionText }}</td>
                <td style="width: 20%; text-align: center">{{ question.category.categoryName }}</td>
                <td style="width: 15%; text-align: center">{{ question.owner.name }}</td>
                <td style="width: 15%; text-align: center; vertical-align: middle">
                    <div class="btn-group-justified">
                        <a class="btn  btn-info" href="{{ path('view_question', {'id': question.id}) }}">View</a>
                        <a class="btn btn-primary" href="{{ path('edit_question', {'id': question.id}) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
