{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>
    {{ question.questionText }}
    <h4>Category: </h4>
    {{ question.category.categoryName }}
    <h4>Answers:</h4>
    <div class="table-responsive">
        <table class="table table-striped"">
        {% for answer in question.answers %}
            <tr>
                <td>
                    {{ answer.answerText }}
                </td>
                <td>
                    <input disabled type="checkbox" name="correct" data-toggle="tooltip" data-placement="top" title="Correct answer" value="{{ answer.isCorrect }}" checked="{{ answer.isCorrect }}"><br>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <a href="{{ path('question_index') }}">Back to list</a>

    <a href="{{ path('edit_question', {'id': question.id}) }}">Edit</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
