{{ form_start(form) }}
    {{ form_row(form.category) }}
    {{ form_row(form.numberOfQuestions) }}
    <button style="display: inline-block" class="btn btn-primary">
        {{ button_label|default('Next') }}
    </button>
{{ form_end(form) }}