{% extends 'base.html.twig' %}

{% block title %}Exam index{% endblock %}

{% block body %}
    <h1>All Exams</h1>

    <hr>

    {% if app.user.role == 1 %}
        <a href="{{ path('exam_new') }}" class="btn btn-link btn-primary">Create new</a>
    {% endif %}

    <table class="table" style="width: 100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>NumberOfQuestions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr >
                <td style="text-align: center;">{{ exam.openDate ? exam.openDate|date('d-m-Y') : '' }}</td>
                <td style="text-align: center;">{{ exam.name }}</td>
                <td style="text-align: center;">{{ exam.numberOfQuestions }}</td>
                <td style="text-align: center;">
                    {% if app.user.role == 1 %}
                        <a href="{{ path('exam_show', {'id': exam.id}) }}">show</a>
                        <a href="{{ path('exam_edit', {'id': exam.id}) }}">edit</a>

                    {% elseif app.user.role == 0 %}
                        <a href="{{ path('exam_take', {'id': exam.id}) }}">Take exam</a>
                        <a href="{{ path('result_exam', {'id': exam.id}) }}">View Result</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
