{% extends 'base.html.twig' %}

{% block title %}Exam index{% endblock %}

{% block body %}
    <h1>All Exam</h1>

    <hr>

    <a href="{{ path('exam_new') }}" class="btn btn-link btn-primary">Create new</a>

    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>NumberOfQuestions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td>{{ exam.openDate ? exam.openDate|date('d-m-Y') : '' }}</td>
                <td>{{ exam.numberOfQuestions }}</td>
                <td>
                    <a href="{{ path('exam_show', {'id': exam.id}) }}">show</a>
                    <a href="{{ path('exam_edit', {'id': exam.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
