{% extends 'base.html.twig' %}

{% block title %}Exam index{% endblock %}

{% block body %}
    <h1>Exam index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>IsOpen</th>
                <th>IsPublic</th>
                <th>OpenDate</th>
                <th>NumberOfQuestions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td>{{ exam.id }}</td>
                <td>{{ exam.date ? exam.date|date('Y-m-d') : '' }}</td>
                <td>{{ exam.isOpen ? 'Yes' : 'No' }}</td>
                <td>{{ exam.isPublic ? 'Yes' : 'No' }}</td>
                <td>{{ exam.openDate ? exam.openDate|date('Y-m-d') : '' }}</td>
                <td>{{ exam.numberOfQuestions }}</td>
                <td>
                    <a href="{{ path('exam_show', {'id': exam.id}) }}">show</a>
                    <a href="{{ path('exam_edit', {'id': exam.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exam_new') }}">Create new</a>
{% endblock %}
