{% extends 'base.html.twig' %}

{% block title %}New Exam{% endblock %}

{% block body %}
    <h1>Create new exam</h1>
    <hr>

        {{ include('exam/_form2.html.twig') }}
    <tbody>

    {% for question in questions %}

        <tr>
            <td style="width: 50%" class="main-col">{{ question.category.id }}</td>
            <td style="width: 50%" class="main-col">{{ question.questionText }}</td>
            <td style="width: 20%; text-align: center">{{ question.category.categoryName }}</td>
            <td style="width: 15%; text-align: center">{{ question.owner.name }}</td>
            </br>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>

    {% endfor %}
    </tbody>


    <p id="output"></p>
    <a href="{{ path('exam_index') }}">Back to list</a>


    <script>
        // var $exam_by_categories_category = $("#exam_by_categories_category");
        // var $token= $("#exam_by_categories_token");
        // $exam_by_categories_category.onchange(function ()
        //     {
        //         var $form = $(this).closest('form');
        //         var data = {};
        //         data[$token.attr('name')] = $exam_by_categories_category.val();
        //
        //         $.post($form.attr('action'), data).then(function (response) {
        //             $("#exam_by_categories_questions_1").replaceWith(
        //                 $(response).find('#exam_by_categories_questions_1')
        //             )
        // })
        //     }
        // );
    </script>

{% endblock %}

