{% extends 'base.html.twig' %}

{% block title %}Exam{% endblock %}

{% block body %}
    <h1>Exam</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exam.id }}</td>
            </tr>
            <tr>
                <th>IsOpen</th>
                <td>{{ exam.isOpen ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsPublic</th>
                <td>{{ exam.isPublic ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>OpenDate</th>
                <td>{{ exam.openDate ? exam.openDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumberOfQuestions</th>
                <td>{{ exam.numberOfQuestions }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('exam_edit', {'id': exam.id}) }}">edit</a>

    {{ include('exam/_delete_form.html.twig') }}

    <a href="{{ path('exam_index') }}">back to list</a>

{% endblock %}
