{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/js/examTaking.js') }}"></script>
{% endblock %}

{% block title %}Exam{% endblock %}

{% block body %}
    <h1>{{ exam.name }}</h1>
    <hr>
    <h5> Teacher: {{ exam.user.name }}</h5>
    <form method="post" action="{{ path('preview_exam_answer', { 'id': exam.id }) }}">
        {% for key, question in exam.questions %}
        <div class="form-group">
            <label for="question{{ key + 1 }}"> Question {{ key + 1 }}</label>
            <div class="card">
                <div class="container-fluid" style="font-size: 13px; padding: 3px">
                    {{ question.questionText }}
                </div>
            </div>
            {% for answer in question.answers %}
                <input type="radio" name="question{{ key + 1 }}" data-toggle="tooltip"
                       title="Choose answer" value="{{ answer.id }}">
                {{ answer.answerText }} <br>
            {% endfor %}
        </div>
        {% endfor %}
        <button style="display: inline-block;" type="submit" class="btn btn-primary">Submit</button>
        <a style="display: inline-block;" class="btn btn-secondary" href="{{ path('dashboard') }}">Discard</a>
    </form>



{% endblock %}
